@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
html {
  font-size: 16px;
  font-family: "Lexend", sans-serif;
}

body {
  background: #1A1A1A;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body::before {
  content: "";
  position: absolute;
  background-image: url("/img/Abstract Design header.png");
  width: 689px;
  height: 499px;
  left: 0;
  top: 0;
  z-index: -1;
}

h1, h2, h3, p {
  margin: 0;
  line-height: 150%;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 150%;
}
h1 span {
  color: #CAFF33;
}

.wrapper {
  width: 100%;
  max-width: 1600px;
}

.header {
  margin-top: 50px;
  width: 100%;
  max-width: 1528px;
  height: 55px;
  padding: 20px 34px;
  font-family: "Lexend", sans-serif;
  background-color: #1C1C1C;
  border-radius: 100px;
  border-style: solid;
  border-width: 2px;
  border-color: #262626;
}
.header__navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.header__links {
  display: flex;
  gap: 26px;
}
.header__links a {
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.125rem);
  text-decoration: none;
  color: #fff;
}
.header__auth {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header__auth a {
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.125rem);
  text-decoration: none;
  font-style: 200;
  color: #fff;
}
.header__auth button {
  font-family: "Lexend", sans-serif;
  font-size: clamp(0.5rem, 0.5rem + 0.5vw, 1.125rem);
  border-width: 0;
  height: 100%;
  border-radius: 82px;
  background-color: #CAFF33;
  width: 109px;
  height: 55px;
  cursor: pointer;
}

.hero {
  margin-top: 53px;
  display: flex;
  position: relative;
}
.hero__text {
  width: 50%;
}
.hero__text-features {
  margin-top: 100px;
  background-color: #262626;
  border-radius: 61px;
  width: 325px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.hero__text-features span {
  font-weight: 200;
}
.hero__content h1 {
  margin-top: 20px;
  font-size: 3rem;
  line-height: 150%;
  font-weight: 400;
}
.hero__content h1 span {
  color: #CAFF33;
}
.hero__content p {
  margin-top: 14px;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 150%;
}
.hero__block {
  width: 50%;
}
.hero__button {
  margin-top: 50px;
  border-radius: 82px;
  padding: 18px 30px;
  width: 183px;
  height: 63px;
  border-style: none;
  background-color: #CAFF33;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
}
.hero__block {
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__income {
  position: absolute;
  z-index: 1;
  left: 60px;
  top: 0;
  display: flex;
  border-radius: 10px;
  padding: 13px 17px;
  width: 151px;
  height: 49px;
  background: #22251b;
  gap: 0.5rem;
}
.hero__income img {
  width: 38px;
}
.hero__income-value {
  font-weight: 400;
  font-size: 1.0625rem;
  line-height: 150%;
}
.hero__income-label {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 150%;
}
.hero__transactions {
  margin-top: 2.6875rem;
  position: relative;
  width: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  border: 1px solid #262626;
  border-radius: 0.625rem;
}
.hero__transactions-title {
  margin-top: 2.1875rem;
  margin-bottom: 1.0625rem;
  width: 86%;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 150%;
}
.hero__transactions::after {
  content: "";
  z-index: -1;
  background-image: url("../../img/arrows2.png");
  position: absolute;
  right: -186px;
  top: 0;
  width: 418px;
  height: 383px;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero__transaction {
  display: flex;
  flex-direction: row;
  border-radius: 0.625rem;
  border: 1px solid #262626;
  padding: 0.8125rem 1.25rem;
  box-sizing: border-box;
  position: relative;
  background-color: #1a1a1a;
}
.hero__transaction--first {
  width: 86%;
  justify-content: space-between;
  z-index: 2;
}
.hero__transaction--second {
  width: 80%;
  top: -17px;
  z-index: 1;
  opacity: 0.5;
}
.hero__transaction--third {
  width: 73%;
  top: -34px;
  z-index: 0;
  opacity: 0.2;
}
.hero__transaction-info {
  margin-left: 0.5rem;
  width: 100%;
}
.hero__transaction-detail {
  display: flex;
  justify-content: space-between;
}
.hero__transaction-type {
  font-weight: 300;
  line-height: 150%;
  font-size: 0.9375rem;
}
.hero__transaction-name {
  font-weight: 400;
  line-height: 150%;
  font-size: 1.0625rem;
}
.hero__exchange {
  width: 86%;
  border: 1px solid #262626;
  overflow: hidden;
  border-radius: 0.625rem;
  background-color: #1c1c1c;
}
.hero__exchange-title {
  width: 86%;
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 150%;
}
.hero__exchange-padding {
  padding: 1.0625rem;
  border: 0.5px solid #262626;
}
.hero__exchange-currency {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero__exchange-flag {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.hero__exchange-flag h3 {
  font-size: 0.9375rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 150%;
}
.hero__exchange-title {
  margin-top: 0.5rem;
  color: #e4e4e7;
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 150%;
}
.hero__exchange-dollar h2, .hero__exchange-rupees h2 {
  font-weight: 500;
  font-size: 1.0625rem;
  line-height: 150%;
}
.hero__exchange-button {
  width: 86%;
  margin-top: 25px;
  border-radius: 71px;
  background: #22251b;
  border-style: none;
  padding: 0.8125rem 1.625rem;
  color: #D1FF4D;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 150%;
  margin-bottom: 48px;
}
.hero__currency {
  position: absolute;
  bottom: -81px;
  right: 84px;
  padding: 0.5rem 0.5rem 0.5rem 1.25rem;
  background: #22251b;
  border-radius: 69px;
  display: flex;
  align-items: center;
  gap: 0.6875rem;
}
.hero__currency-icons {
  border-radius: 48px;
  padding: 0.5rem;
  background-color: #1A1A1A;
}

.products {
  margin-top: 250px;
}
.products__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 150%;
}
.products__title span {
  color: #CAFF33;
}
.products__info {
  display: flex;
  justify-content: space-between;
}
.products__info-text {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 910px;
  color: #b3b3b3;
}
.products__info-switch {
  padding: 0.875rem;
  border-radius: 82px;
  background-color: #1c1c1c;
  border: 1px solid #262626;
  max-height: 83px;
  display: flex;
}
.products__info-button {
  padding: 0.875rem 1.5rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  border-radius: 140px;
  border-style: none;
  background-color: #1c1c1c;
  color: #fff;
}
.products__info-button--active {
  background-color: #CAFF33;
  color: #000;
}
.products__features {
  margin-top: 100px;
  display: flex;
}
.products__features p, .products__features h3 {
  text-align: center;
}
.products__line {
  max-width: 2px;
  opacity: 0.2;
  color: #262626;
  border-color: #262626;
  background-color: #262626;
}
.products__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 465px;
}
.products__feature h3 {
  margin-top: 1.875rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  text-align: center;
}
.products__feature p {
  margin-top: 1.25rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: #b3b3b3;
}

.useCases {
  margin-top: 150px;
}
.useCases__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 150%;
  color: #CAFF33;
}
.useCases__description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.useCases__button {
  margin-top: 62px;
  border: 1px solid #262626;
  background-color: #1c1c1c;
  border-radius: 82px;
  padding: 18px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #fff;
}
.useCases__block {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.useCases__block-icons {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #1c1c1c;
  position: relative;
  border-radius: 20px;
}
.useCases__block-icons--icons1::before {
  content: "";
  background-image: url("../../img/Abstract Design Angle.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 213px;
  height: 224px;
  left: 0;
  top: 0;
  z-index: 0;
}
.useCases__block-icons--icons2::before {
  content: "";
  background-image: url("../../img/Abstract Design Angle right.png");
  background-repeat: no-repeat;
  position: absolute;
  width: 213px;
  height: 224px;
  right: 0;
  top: 0;
  z-index: 0;
}
.useCases__block-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 30px;
  z-index: 1;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  gap: 24px;
  max-width: 314px;
}
.useCases__block-icon h3 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
}
.useCases__block-clients {
  padding-top: 30px;
}
.useCases__block-title {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 150%;
}
.useCases__block-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.useCases__block-percents {
  margin-top: 62px;
  display: flex;
}
.useCases__block-percents hr {
  border: 1px dashed #262626;
  max-width: 1px;
}
.useCases__block-percent h1 {
  font-weight: 500;
  font-size: 3.625rem;
  line-height: 150%;
  color: #CAFF33;
}
.useCases__block-percent p {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
  max-width: 182px;
}

.features {
  margin-top: 150px;
}
.features__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 150%;
}
.features__title span {
  color: #CAFF33;
}
.features__description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.features__switch {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.features__buttons {
  display: flex;
  padding: 50px;
  border-radius: 12px;
  flex-direction: column;
  gap: 24px;
  background-color: #1c1c1c;
}
.features__button {
  color: #fff;
  width: 100%;
  max-width: 208px;
  font-weight: 400;
  font-size: 1.125rem;
  max-height: 63px;
  line-height: 150%;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  border-radius: 100px;
  padding: 18px 24px;
}
.features__button--active {
  color: #CAFF33;
}
.features__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.features__feature {
  background-color: #1c1c1c;
  padding: 50px;
  max-width: 614px;
  box-sizing: border-box;
}
.features__feature-title {
  display: flex;
  justify-content: space-between;
}
.features__feature-description {
  margin-top: 30px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #b3b3b3;
}

.faq {
  margin-top: 150px;
}
.faq__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 150%;
}
.faq__title span {
  color: #CAFF33;
}
.faq__description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.faq__questions {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.faq__question {
  border-radius: 14px;
  padding: 50px;
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.faq__question-title {
  font-weight: 500;
  font-size: 1.25rem;
}
.faq__question-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.faq__question hr {
  width: 100%;
  opacity: 0.05;
}

.testimonials {
  margin-top: 150px;
}
.testimonials__title {
  font-weight: 500;
  font-size: 3rem;
  line-height: 150%;
}
.testimonials__title span {
  color: #CAFF33;
}
.testimonials__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonials__info p {
  max-width: 910px;
  font-weight: 300;
  font-size: 1.125rem;
  color: #b3b3b3;
  line-height: 150%;
}
.testimonials__info-switch {
  padding: 0.875rem;
  border-radius: 82px;
  background-color: #1c1c1c;
  border: 1px solid #262626;
  max-height: 83px;
  display: flex;
}
.testimonials__info-button {
  padding: 0.875rem 1.5rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  border-radius: 140px;
  border-style: none;
  background-color: #1c1c1c;
  color: #fff;
}
.testimonials__info-button--active {
  background-color: #CAFF33;
  color: #000;
}
.testimonials__slider {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 50px;
  overflow: hidden;
}
.testimonials__slider-wrapper {
  overflow: hidden;
  position: relative;
}
.testimonials__slider-wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40%;
  top: 0;
  height: 100%;
  z-index: 1;
  background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
}
.testimonials__slider-wrapper::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  width: 40%;
  height: 100%;
  background: linear-gradient(270deg, rgba(25, 25, 25, 0) 0%, #191919 100%);
}
.testimonials__slider-content {
  display: flex;
  flex-wrap: nowrap;
  gap: 80px;
  position: relative;
}
.testimonials__slider button {
  background-color: transparent;
  border-style: none;
}
.testimonials__slider-toright {
  transform: rotate(180deg);
}
.testimonials__slider-item {
  flex: 0 0 397px;
  max-width: 404px;
}
.testimonials__slider-visual {
  margin-top: 30px;
  position: relative;
}
.testimonials__slider-visual hr {
  transform: rotate(180deg);
  opacity: 0.05;
}
.testimonials__slider-visual img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -15;
  background-color: #1a1a1a;
  padding: 0 20px;
}
.testimonials__slider-text {
  margin-top: 50px;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
}
.testimonials__slider-name {
  margin-top: 50px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
  color: #CAFF33;
}

.invite {
  margin-top: 150px;
  border-radius: 20px;
  padding: 80px;
  box-sizing: border-box;
  background-color: #1c1c1c;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.invite::before {
  content: "";
  background-image: url("../../img/Abstract Design Angle.png");
  position: absolute;
  left: 0;
  top: 0;
  width: 298px;
  height: 283px;
  background-repeat: no-repeat;
  z-index: 0;
}
.invite__text {
  z-index: 1;
  max-width: 1100px;
}
.invite__text-title {
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 150%;
}
.invite__text-title span {
  color: #CAFF33;
}
.invite__text-description {
  color: #b3b3b3;
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
}
.invite__button {
  border-radius: 82px;
  padding: 18px 30px;
  border-style: none;
  background-color: #CAFF33;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
}

.footer {
  margin-top: 150px;
  box-sizing: border-box;
  width: 100%;
  padding: 100px 162px 50px 162px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1c1c1c;
}
.footer__nav {
  margin-top: 50px;
  display: flex;
  gap: 26px;
}
.footer__nav a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.footer hr {
  margin-top: 50px;
  width: 100%;
  opacity: 0.05;
}
.footer__contacts {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__contacts a {
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
}
.footer__links {
  font-weight: 300;
  font-size: 1.125rem;
  color: #b3b3b3;
  line-height: 150%;
  margin-top: 50px;
  border-radius: 100px;
  box-sizing: border-box;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  padding: 16px 30px 16px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__links-policy {
  display: flex;
  align-items: center;
}
.footer__links-policy hr {
  transform: rotate(90deg);
  opacity: 0.3;
  width: 27px;
  margin: 0;
}
.footer__links-policy a {
  cursor: pointer;
}

.careersHero {
  padding: 50px;
  margin-top: 53px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #1c1c1c;
  box-sizing: border-box;
}
.careersHero::before {
  content: "";
  background-image: url("../../../html/img/careers/Abstract Design Angle Carrers.png");
  width: 480px;
  height: 505px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.careersHero__text {
  z-index: 2;
  position: absolute;
  border-radius: 20px 0 80px 20px;
  padding: 80px;
  background-color: #1a1a1a;
  width: 42.5%;
  align-self: self-start;
}
.careersHero__text-title {
  font-weight: 500;
  font-size: 3.625rem;
  line-height: 130%;
}
.careersHero__text-title span {
  color: #CAFF33;
}
.careersHero__text-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.careersHero img {
  z-index: 1;
  align-self: flex-end;
}

.values-title {
  font-weight: 500;
  line-height: 150%;
}
.values-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
  max-width: 1300px;
}
.values__container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
}
.values__container-item {
  display: flex;
  gap: 30px;
}
.values__container-item hr {
  border-style: none;
  width: 1px;
  background-color: #CAFF33;
}
.values__container-title {
  font-weight: 500;
  font-size: 3.625rem;
  line-height: 150%;
  color: #4c4c4d;
}
.values__container-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}

.benefits {
  margin-top: 150px;
}
.benefits-description {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.125rem;
  max-width: 80%;
}
.benefits__container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(1fr 2px 1fr);
  gap: 50px;
}
.benefits__container-item {
  border-radius: 50px 20px;
  padding: 50px;
  background-image: url("../../../html/img/careers/Card background.png");
  background-repeat: no-repeat;
}
.benefits__container-item--item1 {
  grid-area: 1/1/1/1;
}
.benefits__container-item--item2 {
  grid-area: 1/3/2/3;
}
.benefits__container-item--item3 {
  grid-area: 3/1/3/1;
}
.benefits__container-item--item4 {
  grid-area: 3/3/3/3;
}
.benefits__container-divline {
  border-style: none;
}
.benefits__container-divline--vertical {
  width: 2px;
  background: repeating-linear-gradient(to bottom, #262626 0px, #262626 20px, transparent 20px, transparent 34px);
}
.benefits__container-divline--vertical:first-of-type {
  grid-area: 1/2/2/2;
}
.benefits__container-divline--vertical:last-of-type {
  grid-area: 3/2/3/3;
}
.benefits__container-divline--horizontal {
  height: 2px;
  background: repeating-linear-gradient(to right, #262626 0px, #262626 20px, transparent 20px, transparent 34px);
  width: 100%;
  grid-area: 2/1/2/4;
}
.benefits__container-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.benefits__container-title h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
}
.benefits__container-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
  margin-top: 30px;
}

.jobOpenings-description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  color: #b3b3b3;
  max-width: 80%;
}
.jobOpenings__vacancies {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.jobOpenings__vacancy {
  background-color: #1c1c1c;
  border-radius: 16px;
  padding: 50px;
  border: 1px solid #262626;
  margin: 0;
}
.jobOpenings__vacancy-title {
  font-weight: 600;
  font-size: 1.875rem;
}
.jobOpenings__vacancy-tags {
  margin-top: 14px;
  display: flex;
}
.jobOpenings__vacancy-tag {
  border-radius: 68px;
  padding: 8px 16px;
  background-color: #1a1a1a;
  border: 1px solid #262626;
}
.jobOpenings__vacancy-tag p {
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
}
.jobOpenings__vacancy-about {
  margin-top: 50px;
  font-weight: 600;
  font-size: 1.5rem;
}
.jobOpenings__vacancy-description {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.125rem;
  color: #b3b3b3;
}
.jobOpenings__vacancy-requirements {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 40px;
}
.jobOpenings__vacancy-list {
  list-style-image: url("../../../html/img/careers/icons/list_item.svg");
}
.jobOpenings__vacancy-list li {
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.125rem;
  color: #b3b3b3;
}
.jobOpenings__vacancy-button {
  margin-top: 50px;
  border-radius: 82px;
  padding: 16px 30px;
  background-color: #CAFF33;
  border-style: none;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 150%;
  color: #1c1c1c;
}

.aboutHero {
  padding: 50px;
  margin-top: 53px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
  background-color: #1c1c1c;
  box-sizing: border-box;
}
.aboutHero::before {
  content: "";
  background-image: url("../../../html/img/careers/Abstract Design Angle Carrers.png");
  width: 480px;
  height: 505px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
.aboutHero__text {
  z-index: 2;
  position: absolute;
  border-radius: 20px 0 80px 20px;
  padding: 80px;
  background-color: #1a1a1a;
  width: 42.5%;
  align-self: self-start;
}
.aboutHero__text-welcome {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
}
.aboutHero__text-title {
  font-weight: 500;
  font-size: 3.625rem;
  line-height: 130%;
}
.aboutHero__text-title span {
  color: #CAFF33;
}
.aboutHero__text-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.aboutHero img {
  z-index: 1;
  align-self: flex-end;
}

.mission-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #b3b3b3;
  max-width: 80%;
}
.mission__container {
  margin-top: 80px;
}
.mission__mission-block {
  display: flex;
  gap: 50px;
}
.mission__mission-block--margin {
  margin-top: -100px;
}
.mission__mission-img {
  position: relative;
  border: 1px solid #262626;
  border-radius: 50px 50px 20px 20px;
  padding: 60px 60px 0px 60px;
  background-image: url("../../../html/img/about/Abstract Design about bg.png");
  background-repeat: no-repeat;
}
.mission__mission-img--mission::after {
  content: "";
  position: absolute;
  background-color: #CAFF33;
  width: 2px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
}
.mission__mission-img--vision::after {
  content: "";
  position: absolute;
  background-color: #CAFF33;
  width: 2px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 30%;
}
.mission__mission-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.mission__mission-title {
  font-weight: 500;
  font-size: 2.375rem;
  line-height: 150%;
}
.mission__mission-description {
  margin-top: 14px;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}

.pressReleases {
  margin-top: 150px;
}
.pressReleases-description {
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #b3b3b3;
  max-width: 80%;
}
.pressReleases__container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.pressReleases__container-item {
  border: 1px solid #262626;
  border-radius: 40px 40px 16px 16px;
  padding: 30px;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pressReleases__container-tags {
  margin-top: 20px;
  width: 90%;
}
.pressReleases__container-title {
  margin-top: 50px;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
  max-width: 90%;
  text-align: start;
}
.pressReleases__container-description {
  margin-top: 30px;
  width: 90%;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}

.protect-description {
  margin-top: 14px;
  color: #b3b3b3;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  max-width: 1300px;
}
.protect__container {
  margin-top: 200px;
  padding: 0px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  position: relative;
}
.protect__container::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -82px;
  background-image: url("../../../html/img/security/Background Image.png");
  width: 1593px;
  height: 632px;
}
.protect__container-title {
  display: flex;
  align-items: center;
  gap: 20px;
}
.protect__container-title h3 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 150%;
}
.protect__container-description {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #b3b3b3;
}
.protect__container-block {
  border: 1px solid #262626;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 20px;
  padding: 50px;
  background-image: url("../../../html/img/security/Card.png");
}

.loginForm {
  margin-top: 53px;
  max-width: 1326px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 100px 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../html/img/loginForm/LoginBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #262626;
}
.loginForm::before {
  content: "";
  background-image: url("../../../html/img/loginForm/Abstract Design.png");
  width: 325px;
  height: 342px;
  position: absolute;
  top: 0;
  right: 0;
}
.loginForm-description {
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
  color: #b3b3b3;
  margin-top: 20px;
}
.loginForm__inputs {
  margin-top: 80px;
  display: flex;
  gap: 30px;
  width: 100%;
}
.loginForm__inputs input {
  width: 100%;
  border-radius: 88px;
  padding: 24px;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #59595A;
}
.loginForm__buttons {
  display: flex;
  flex-direction: column;
  max-width: 518px;
  width: 100%;
}
.loginForm__buttons button {
  border-radius: 63px;
  padding: 18px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
}
.loginForm__forgotPass {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
}
.loginForm__loginButton {
  margin-top: 40px;
  background-color: #CAFF33;
  border-style: none;
}
.loginForm__signButton {
  background-color: #262626;
  border: 1px solid #333333;
  margin-top: 24px;
  color: #fff;
}
.loginForm__divline {
  width: 100%;
  margin-top: 37.5px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.loginForm__divline p {
  width: 100%;
  text-align: center;
  color: #b3b3b3;
}
.loginForm__divline hr {
  height: 0;
  width: 100%;
  opacity: 0.5;
}
.loginForm__social {
  margin-top: 30px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.signUpForm {
  margin-top: 53px;
  max-width: 1326px;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 100px 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../../html/img/loginForm/LoginBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: 1px solid #262626;
}
.signUpForm::before {
  content: "";
  background-image: url("../../../html/img/loginForm/Abstract Design.png");
  width: 325px;
  height: 342px;
  position: absolute;
  top: 0;
  right: 0;
}
.signUpForm-description {
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
  color: #b3b3b3;
  margin-top: 20px;
}
.signUpForm__inputs {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
}
.signUpForm__inputs input {
  width: 100%;
  border-radius: 88px;
  padding: 24px;
  border: 1px solid #262626;
  background-color: #1a1a1a;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 150%;
  color: #59595A;
}
.signUpForm__buttons {
  display: flex;
  flex-direction: column;
  max-width: 518px;
  width: 100%;
}
.signUpForm__buttons button {
  border-radius: 63px;
  padding: 18px 20px;
  cursor: pointer;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  text-align: center;
}
.signUpForm__loginButton {
  margin-top: 40px;
  background-color: #CAFF33;
  border-style: none;
}
.signUpForm__signButton {
  background-color: #262626;
  border: 1px solid #333333;
  margin-top: 24px;
  color: #fff;
}
.signUpForm__divline {
  width: 100%;
  margin-top: 37.5px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
.signUpForm__divline p {
  width: 100%;
  text-align: center;
  color: #b3b3b3;
}
.signUpForm__divline hr {
  height: 0;
  width: 100%;
  opacity: 0.5;
}
.signUpForm__social {
  margin-top: 30px;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
